<div class="w-full">
  <table class="table-auto border-spacing-4 border-separate border border-slate-900">
    <thead>
    <tr>
      <th>Sunrise</th>
      <th>Sunset</th>
      <th>Sunlight Hours</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td class="border border-slate-900"><%= @sunlight_hours[:sunrise] %></td>
        <td class="border border-slate-900"><%= @sunlight_hours[:sunset] %></td>
        <td class="border border-slate-900"><%= @sunlight_hours[:hours].round(3) %></td>
      </tr>
    </tbody>
  </table>
</div>
